<mat-card *ngIf="beer" [ngClass]="{ 'text-center': !fullWidthMode }">
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mb-1 mx-auto"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      [src]="beer.image_url"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h2>{{ beer.name | slice: 0:20 }}</h2>
        <p>
          {{ beer.tagline }}
        </p>
        <p *ngIf="fullWidthMode">
          {{ beer.description }}
        </p>
      </div>
      <div class="flex justify-between items-center">
        <span>{{ beer.abv }}% Alcohol</span>
        <button mat-icon-button color="accent" (click)="onClick()">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
