<div *ngIf="beer" class="max-w-7xl flex items-start gap-20 mx-auto mt-36">
  <div class="flex-1 flex justify-between items-center gap-20">
    <img class="w-32" [src]="beer[0].image_url" />
    <mat-card class="example-card">
      <mat-card-title>{{ beer[0].name }}</mat-card-title>
      <mat-card-subtitle>{{ beer[0].tagline }}</mat-card-subtitle>
      <mat-card-content>
        <p>{{ beer[0].brewers_tips }}</p>
        <p>{{ beer[0].description }}</p>
        <div class="flex justify-between">
          <p>Produce since: {{ beer[0].first_brewed }}</p>
          <p>Alcohol: {{ beer[0].abv }}% ABV</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="flex gap-2">
          <button mat-flat-button color="accent" (click)="onAddToCart()">
            ADD TO CART
          </button>
          <button
            mat-flat-button
            color="warn"
            (click)="onRemoveFromCart()"
            [disabled]="!isItemInCart"
          >
            REMOVE FROM CART
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="flex-1">
    <div class="mb-10">
      <h3>Beer ingredients:</h3>
      <app-tree [data]="ingredientsData"></app-tree>
    </div>
    <div class="mb-10">
      <h3>Instructions and tips:</h3>
      <app-tree [data]="tipsData"></app-tree>
    </div>
    <div>
      <h3>Food pairing:</h3>
      <app-tree [data]="foodData"></app-tree>
    </div>
  </div>
</div>
