<div class="h-full flex flex-col justify-between">
  <div>
    <h2>LIST OF FILTERS</h2>
    <mat-selection-list #list [multiple]="false">
      <div>
        <div mat-subheader>Choose Malt Filter</div>
        <mat-list-option
          *ngFor="let filter of filters.malt.maltFilters"
          [value]="filter.value"
        >
          <button (click)="onClickFilter(filter)">{{ filter.title }}</button>
        </mat-list-option>
      </div>
      <div class="mt-10">
        <div mat-subheader>Choose Hops Filter</div>
        <mat-list-option
          *ngFor="let filter of filters.hops.hopsFilters"
          [value]="filter.value"
        >
          <button (click)="onClickFilter(filter)">{{ filter.title }}</button>
        </mat-list-option>
      </div>
    </mat-selection-list>
  </div>
  <div>
    <button (click)="onClearFilter()" class="flex items-center gap-2">
      <mat-icon>replay</mat-icon>
      CLEAR FILTER
    </button>
  </div>
</div>
