table {
  width: 100%;
}

th {
  font-size: 14px;
}

td,
th {
  width: 10%;
  cursor: pointer;
  text-align: center !important;
}

.mat-row {
  height: 55px;
}

.mat-column-image {
  text-align: left !important;
}

.mat-column-name {
  width: 20%;
  text-align: left !important;
}
