<mat-card *ngIf="cart.items.length" class="max-w-7xl mx-auto mt-24">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <img
          src="{{ element.beer.image_url }}"
          alt="beer"
          class="w-[10px] ml-3"
        />
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.beer.name }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="first_brewed">
      <th mat-header-cell *matHeaderCellDef>Produced Since</th>
      <td mat-cell *matCellDef="let element">
        {{ element.beer.first_brewed }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="alcohol">
      <th mat-header-cell *matHeaderCellDef>Alcohol ABV</th>
      <td mat-cell *matCellDef="let element">{{ element.beer.abv }}%</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="bitterness">
      <th mat-header-cell *matHeaderCellDef>Bitterness IBU</th>
      <td mat-cell *matCellDef="let element">{{ element.beer.ibu }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color EBC</th>
      <td mat-cell *matCellDef="let element">{{ element.beer.ebc }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="attenuation_level">
      <th mat-header-cell *matHeaderCellDef>Ferments Degree</th>
      <td mat-cell *matCellDef="let element">
        {{ element.beer.attenuation_level }}° deg
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="warn"
          (click)="onRemoveQuantity(element)"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ element.quantity }}</span>
        <button mat-icon-button color="accent" (click)="onAddQuantity(element)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button
          (click)="onClearCart()"
          mat-button
          color="warn"
          class="float-right"
        >
          Clear All
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="onRemoveFromCart(element.beer.id)"
          mat-icon-button
          color="warn"
          class="float-right"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button
          color="accent"
          mat-button
          routerLink="/home"
          class="float-right"
        >
          Back to Store
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onGoToDetails(row.beer.id)"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card>
<mat-card *ngIf="!cart.items.length" class="mx-auto my-3 max-w-7xl mt-24">
  <p>
    Your cart is empty.
    <button color="accent" mat-button routerLink="/home">Back to Store</button>
  </p>
</mat-card>
