/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-toolbar {
  z-index: 10;
}
mat-drawer {
  position: fixed !important;
  height: calc(100vh - 64px);
}
mat-selection-list * {
  text-align: left !important;
}
